html {
  height: 100%;
  width: 100%;
}

#user_question{
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top: 20px;
  width: 600px;
  border-radius: 8px;
  border-style: solid;
  border-color: white;
}

body {
  background: linear-gradient(180deg, rgb(31.02, 41.18, 81.81) 0%, rgb(59.85, 23.02, 69.06) 100%);
  background-color: rgba(255, 255, 255, 1);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#input-form{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

#input-box{
  left: 50%;
}

#header {
  color: white;
}

#but{
  height: 20px;
  width: auto;
}


  
.chat-container {
  color: white;
  width: 500px;
  margin: 0 auto;
  border-radius: 31px;
  border: 6px solid #148888;
  background: rgba(217, 217, 217, 0.00);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.send-icon{
  margin-right: 10px;
  cursor: pointer;
}

.spinner-border{
  color: white;
}

#chatbot {
  color: white;
  width: 1000px;
  height: 500px;
  margin-top: 50px;
  background: linear-gradient(90deg, rgba(22, 136, 136, 0.28) 0%, #158888 100%) border-box;
  border-radius: 15px;
  font-family: 'Source Code Pro', monospace;

  display:block;
  margin-left:auto;
  margin-right:auto;
  text-align: center;

}

message-container {
  width: 100%;
  display: flex;
  align-items: center;
}

#conversation {
  height: 500px;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.chatbot-message{
  color: white;
}

#response{
  color: white;
  margin: 20px 30px 20px 30px;
  text-align: left;
}


button {
  background:
    linear-gradient(90deg, rgba(22, 136, 136, 0.28) 0%, #158888 100%) padding-box,
    linear-gradient(90deg, rgba(22, 136, 136, 0.28) 0%, #158888 100%) border-box;
  border: 3px solid transparent;
  border-radius: 15px;
  font-family: 'Source Code Pro', monospace;
  font-size: 30px;
  font-weight: 600;
  color: white;
  transition: 1s all ease;
}

/* button:hover {
  background:
    linear-gradient(90deg, rgba(22, 136, 136, 0.28) 0%, #158888 100%) padding-box,
    linear-gradient(180deg, rgba(22, 136, 136, 0.28) 0%, #158888 100%) border-box;
} */

.header-container {
  display: flex;
  align-items: center;
}

#robot-head {
  /* display: flex; */
  /* align-items: center; */
  margin-top: 30px;
  height: 45px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

#welcome {
  font-family: 'Source Code Pro', monospace;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
}

#page-name {
  position: absolute;
  left: 140px;
  top: 20px;
}

.site-info {
  width: 500px;
  position: absolute;
  top: 200px;
  left: 80px;
}

#title-blurb {
  color: white;
  font-weight: 700;
  font-size: 70px;
  line-height: .9;
  margin-bottom: 0px;
}

#sub-blurb {
  color: white;
  font-weight: 400;
  font-size: 18px;
  width: 450px;
  margin-top: 30px;
  margin-bottom: 0px;
  /* line-height: .9; */
}

#main-graphic {
  width: 600px;
  position: absolute;
  left: 560px;
  top: 210px;
}

#talk-button {
  color: white;
  width: fit-content;
  height: 60px;
  margin-top: 30px;
  text-align: center;
  border-radius: 5px;
}

#lets-talk {
  color: white;
  margin-right: 10px;
  margin-left: 10px;
}